.DS_Store
*.map
node_modules/
dist
.nyc_output
.pnpm*
coverage
demo
/__tests__
shared
/lib

# exports
index.js
index.d.ts
hypr.js
hypr.d.ts
helmet.js
helmet.d.ts
cookies.js
cookies.d.ts
errors.js
errors.d.ts
cors.js
cors.d.ts
cors.js
cors.d.ts
